


.template {
    width: 100%;
    background-color:#0b2435;
    border-radius: 5px;
    padding: 20px;
}

.templateInfo {
    width: 100%;
    display: flex;
    gap: 10px;
}

.templateContainerImg {
    width: 100%;
}

.img {
    width: 100%;
    min-width: 120px;
    height: 100%;
    object-fit: contain;
}

.NameAndBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.btns {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.btns a {
    text-decoration: none;
    color: #67d5e7;
    width: 100px;
    padding: 5px;
    text-decoration: underline;
    font-weight: 400;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .templateInfo {
        flex-direction: column;
    }
}

