


.template {
    width: 100%;
    background-color:#54b688ad;
    border-radius: 5px;
    /* padding: 20px; */
    max-width: 400px;
    min-height: 310px;
    overflow: hidden;
}

.templateInfo {
    width: 100%;
    display: flex;
    gap: 10px;
    max-width: 400px;
    flex-direction: column;
}

.templateContainerImg {
    width: 100%;
}

.img {
    width: 100%;
    min-width: 120px;
    min-height: 120px;
    height: 100%;
    object-fit: contain;
}

.NameAndBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.tecnologias {
    color: var(--text-noraml);
    font-size: 14px;
    margin-top: 5px;
}

.btns {
    width: 100%;
    display: flex;
    
}

.btns a {
    display: flex;
    align-items: center;
    gap: 5px;
    
    text-decoration: none;
    color: var(--primary-black);
    width: 130px;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 400;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--write-normal);
}

@media screen and (max-width: 800px) {
    .templateInfo {
        flex-direction: column;
    }
}

