

.container {
    width: 100%;
    padding:90px 10px 10px 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container span {
    font-size: 14px;
    color: var(--paragraph-normal);
}

