

.container {
    width: 100%;
    padding: 0 25px 0 25px;
}

.ProjetoCabecalho {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
}

.barraCor {
    width: 5px;
    height: 50px;
    background-color: var(--primary-normal);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.projetos {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    list-style: none;
    margin-top: 50px;
}

.projetos li {
    width: 100%;
    background-color: rgb(248, 252, 255);
    border: 1px solid rgb(235, 235, 236);
}


@media screen and (max-width:1300px) { 

    .projetos {
        justify-content: center;
    }   

}   

@media screen and (max-width: 768px){
    .container {
        height: auto;
    }
    .projetos {
        grid-template-columns: repeat(1,1fr);
        
    }
}

@media screen and (max-width: 580px){
    .container {
        height: auto;
    }
    .projetos {
        grid-template-columns: repeat(1,1fr);
    }
}