

.sectionSobre {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.sectionSobre article {
    background-color:#062b4589 ;
    padding: 20px 10px;
    border-radius: 5px;
}

.infor {
    width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 370px;

}

.sobreContatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 370px;
}

.photo {
    width: 170px;
    background-color: transparent;
    height: 180px;
    border-radius: 100px;
}

.photo img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 100px;
    background-color: transparent;
}

.photo:hover{
    box-shadow: 4px 4px 20px rgba(103, 214, 231, 0.263);
}

.contatos{
    width:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contatos img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.nome {
    color: #fff;
    font-size: 18px;
    margin: 10px 0px;
    display: flex;
    gap: 10px;
}

.nome h3 {
    font-weight: 300;
}


.infor section {
    padding: 10px 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.containerInfo {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.containerInfoEmpresa {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    min-width: 350px;
}

.containerInfoEmpresa h3 {
    font-size: 25px;
    font-weight: 600;
    color: #67d5e7;
}

.containerInfo h3{
    font-size: 25px;
    font-weight: 600;
    color: #67d5e7;
}

.infor hr {
    width: 95%;
    margin: 10px auto;
}

.sobre {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    text-align: justify;
    font-weight: 300;
}

.sobre h3 {
    color:#67d5e7;
    font-size: 25px;
    font-weight: 500;
}

.sobre p {
    line-height: 135%;
}

@media screen and (max-width: 800px) {
   .infor section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
   }
}

@media screen and (max-width: 950px){
    .sectionSobre {
        flex-direction: column;
        align-items: center;
    }

    .infor {
        width: 100%;
    }

    .sectionSobre article {
        background-color: transparent;
        
    }
}