@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');

:root {
    --primary-normal:#54B689;
    --primary-black:#1b4934;
    --title-normal:#292929;
    --paragraph-normal:#4f4f4f;
    --text-noraml:#292929bf;
    --write-normal:#fafafa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: var(--write-normal);
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}